body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.inner-page {
  font-size: 14px;
  line-height: 21px;
  color: gray;
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 5;
}

.main-navigation {
  height: 56px;
  position: relative;
  margin: 0 auto;
  z-index: 10;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.menu-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu-list li {
  padding-top: 14px;
  padding-bottom: 16px;
  flex-basis: 20%;
}

.menu-list li:nth-child(1) {
  margin-left: 6%;
}

.menu-list li:nth-child(2) {
}

.menu-list li:nth-child(3) {
  margin-left: auto;
  text-align: right;
}

.menu-list li:nth-child(4) {
  margin-right: 6%;
  text-align: right;
}

.menu-list,
.social ul {
  list-style: none;
}

.menu-list a,
.footer-column a:nth-child(1) {
  color: #000000;
}

.menu-list a:hover,
.footer-column a:nth-child(1):hover {
  color: #81b3d2;
}

.menu-list a:focus,
.footer-column a:nth-child(1):focus {
  color: #c9c9c9;
}

.reason {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 36px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  max-width: 500px;
}

.reason p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: gray;
  font-weight: normal;
}

.uniqueness {
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: #81b3d2;
}

.uniqueness-description {
  padding: 47px 48px 24px;
  width: 400px;
  text-align: center;
  box-sizing: border-box;
}

.uniqueness-image {
  display: block;
  width: 800px;
  overflow: hidden;
  height: 256px;
}

.uniqueness h2 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.uniqueness-reverse {
  flex-direction: row-reverse;
}

.main-proposal {
  display: flex;
  flex-wrap: nowrap;
}

.proposal {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 161px 48px 68px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #333333;
  width: 400px;
}

.proposal-h {
  display: block;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: 700;
}

.proposal p {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.house::before {
  background-image: url(../img/icon-1.svg);
  background-size: 75px 72px;
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
}

.eat::before {
  background-image: url(../img/icon-3.svg);
  background-size: 75px 72px;
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
}

.souvenir::before {
  background-image: url(../img/icon-2.svg);
  background-size: 75px 72px;
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
}

.advantage {
  display: flex;
  background-color: #eeeeee;
}

.advantage-list {
  display: block;
  padding-bottom: 45px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 47px;
  height: 256px;
  width: 400px;
  text-align: center;
  box-sizing: border-box;
}

.advantage-list h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.interest {
  position: relative;
  z-index: 20;
  margin: 0 auto;
  padding-top: 30px;
  width: 568px;
  text-align: center;
}

.interest h3 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.interest p {
  line-height: 24px;
}

.form-search {
  margin-left: 450px;
}

.modal-open {
  position: relative;
  z-index: 2;
  margin-top: 47px;
  padding: 30px 10px;
  width: 570px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.modal-open:hover {
  color: #ffffff;
  background-color: #604e43;
}

.modal-open:focus {
  color: #908883;
  background-color: #503e33;
}

.form-search p {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

/*стили для формы*/
.search-form {
  position: absolute;
  z-index: 1;
  transform-origin: top;
  width: 100%;
  padding: 55px 55px;
  box-sizing: border-box;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.search-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.search-form-row label,
.search-form-row input {
  display: block;
}

.search-form-row label {
  width: 112px;
}

.search-form-row input {
  padding: 0;
  height: 38px;
  border: none;
  box-sizing: border-box;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.search-form-row input:hover {
  background-color: #ebebeb;
}

.search-form-row input:focus {
  background-color: #ffffff;
  outline-color: #e5e5e5;
}

.wrapper-date input {
  padding-left: 13px;
  padding-right: 44px;
  width: 345px;
}

.search-form-quantity input {
  width: 38px;
  text-align: center;
}

.search-form button {
  border: none;
}

.wrapper-date {
  position: relative;
}

.calendar-btn {
  position: absolute;
  top: 7px;
  right: 8px;
  background-color: #f2f2f2;
  outline-color: #e5e5e5;
  opacity: 0.3;
}

.calendar-btn:hover {
  opacity: 1;
}

.calendar-btn:active svg {
  fill: #81b3d2;
}

.search-form-quantity {
  display: flex;
  align-items: center;
}

.search-form-quantity label[for="quantity-children"] {
  width: 65px;
}

.search-form-quantity button {
  display: block;
  width: 38px;
  height: 38px;
  font: inherit;
  font-size: 24px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  cursor: pointer;
}

.search-form-quantity button:hover {
  color: #000000;
}

.search-form-quantity button:active {
  color: #81b3d2;
}

.search-form-quantity button:focus {
  outline-color: #e5e5e5;
}

.search-form .btn {
  margin-top: 25px;
  padding: 16px 0;
  width: 100%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.search-form .btn:hover {
  background-color: #669ec0;
}

.search-form .btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@keyframes show {
  0% {
    transform: scaleY(0) translateY(-100%);
  }

  100% {
    transform: scaleY(1) translateY(0);
  }
}

.js-form-show {
  display: block;
  animation: show 0.75s forwards;
}

.js-form-close {
  display: none;
}
/**/

.form-inner fieldset {
  list-style: none;
  border: none;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    border: 0;
}

.form-inner form {
  padding: 27px 6% 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 16%;
  height: 217px;
}

.form-inner legend {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
}

.input-catalog {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.form-inner__checkbox {
      margin: 25px 0;
}
 
.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.label-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.label-checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.checkbox-search:checked {
  width: 27px;
  background-image: url(..img/checkbox-on.svg);
} 


.form-inner label {
  color: #ffffff;
}

.filter p {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter-interval input[type="text"] {
  text-align: center;
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
}

.price-button {
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
}

.search {
  display: flex;
  align-items: center;
  padding: 23px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.search-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 10px;
  width: 740px;
}

.search-sort p {
  width: 105px;
}

.search-sort ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 10px;
}

.search-sort li {
  padding-right: 33px;
}

.search h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  width: 134px;
  margin: 0;
}

.search p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.search li {
  display: inline;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.search li:nth-child(1) {
  color: #81b3d2;
}

.search-sort a {
  border-bottom: 1px dotted #81b3d2;
}

.button-search-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-left: 0;
  width: 110px;
}

.search-sort-top {
  padding-left: 13px;
}

.button-top {
  display: block;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid #cacaca;
}

.search-sort-bottom {
  padding-left: 13px;
}

.button-bottom {
  display: block;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid #cacaca;
  transform: rotate(180deg);
}

.button-bottom:focus {
  border-bottom-color: #81b3d2;
}

.button-bottom:active {
  border-bottom-color: #81b3d2;
}

.hotel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 6% 29px;
  border-bottom: 1px solid #e5e5e5;
}

.image-hotel {
  padding: 0;
  margin: 0;
  width: 135px;
}

.hotel-main {
  padding-left: 31px;
  padding-right: 31px;
  flex-grow: 1;
}

.hotel-section {
  display: flex;
}

.hotel-detailed {
  margin-right: 5px;
  width: 110px;
}

.hotel-book {
  width: 142px;
}

.hotel-text {
  margin-top: 0;
  margin-bottom: 14px;
}

.hotel h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 8px;
}

.hotel-detailed a {
  padding: 3px 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-detailed a:hover {
  font-weight: bold;
  color: #ffffff;
  background-color: #669ec0;
}

.hotel-detailed a:focus {
  font-weight: bold;
  color: #88b2ce;
  background-color: #5496bd;
}

.hotel-book a {
  padding: 3px 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.hotel-book a:hover {
  font-weight: bold;
  color: #ffffff;
  background-color: #604e43;
}

.hotel-book a:focus {
  font-weight: bold;
  color: #908883;
  background-color: #503e33;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
  padding-top: 5px;
  width: 110px;
}

.star4 {
  max-width: 110px;
  width: 80px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.star3 {
  max-width: 100px;
  width: 60px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.star2 {
  max-width: 50px;
  width: 40px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.rating {
  margin-top: 47px;
  margin-bottom: 0;
  padding: 3px 13px;
  background-color: #f2f2f2;
}

.footer-column:nth-child(1) {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.big-image {
  position: relative;
  min-height: 432px;
  padding-top: 76px;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -90px;
}

.big-image img {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
  background-position: 40% 50%;
}

.big-image::after {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/background-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 57px;
}

.main-footer {
  display: flex;
  padding: 36px 0;
  justify-content: space-around;
  width: 1200px;
  height: 48px;
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.footer-index {
  position: absolute;
  z-index: 20;
  bottom: 0;
  background-color: rgba(254,254,254,0.9);
}

.map {
  position: relative;
  height: 593px;
  overflow: hidden;
}

.map-image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 5;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.social li {
  margin-left: 2px;
  margin-right: 4px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  fill-opacity: 0.3;
}

.htmlacademy {
  margin-left: 5px;
  width: 108px;
  height: 37px;
}

.htmlacademy:hover path {
  fill: #669ec0;
}

.htmlacademy:focus path {
  fill: #d7d6d6;
}

.paragraf {
  font-size: 14px;
  line-height: 26px;
}

/* Стили для фильтра */
.filter-range {
  width: 330px;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  padding-top: 6px; 

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
