body {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: gray;
    text-transform: uppercase;    
}

.inner-page {
    font-size: 14px;
    line-height: 21px;
    color: gray;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.main-navigation {
    width: 1035px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color:#000000;

    background-color: #ffffff;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.menu-list,
.social ul{
    list-style: none;
}

.menu-list a,
.left a {
    color: #000000;
}

.menu-list a:hover,
.left a:hover {
    color: #81b3d2;
}

.menu-list a:focus,
.left a:focus {
    color: #c9c9c9;
}

.reason {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.reason p {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: gray;
    font-weight: normal;
}

.uniqueness {
    color: white;
    background-color: #81b3d2;
}

.uniqueness h2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.proposal {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
}

.proposal p {
    font-size: 14px;
    font-weight: normal;
}

.advantage {
    background-color: #eeeeee
}

.advantage-list h2{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.interest {
    text-align: center;
}

.interest h3 {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.interest p {
    line-height: 24px;
}

.modal-open {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;

    background-color: #766357;
    border: none;
}

.modal-open:hover {
    color: #ffffff;
    background-color: #604e43;
}

.modal-open:focus {
    color: #908883;
    background-color: #503e33;
}

.form-search p {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.search-form input {
    background-color: #f2f2f2;
    border: none;
}

.button-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;

    background-color: #81b3d2;
    border: none;
}

.button-search:hover {  
    color: #ffffff; 
    background-color: #669ec0;
}

.button-search:focus {
    color: #908883;
    background-color: #5496bd;
}

.form-inner fieldset {
    list-style: none;
    border: none;
}

.form-inner form {
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
} 

.form-inner legend {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.form-inner label {
    color: #ffffff;
}

.filter p {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

.filter-interval input[type="text"] {
    text-align: center;
    color: #ffffff;
    background: none;
    border: 2px solid #ffffff;
}

.price-button {
    color: #ffffff;
    background: none;
    border: 2px solid #ffffff;

}

.search h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.search p {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.search li {
   font-size: 12px;
   line-height: 18px;
   list-style: none;
}

.search li:nth-child(1) {
    color: #81b3d2;
}

.search li:nth-child(2) {
    border-bottom: 1px dashed #81b3d2;
}

.search li:nth-child(3) {
    border-bottom: 1px dashed #81b3d2;
}

.hotel h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.hotel a:nth-child(3) {
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
}

.hotel a:nth-child(3):hover {
    font-weight: bold;
    color: #ffffff;
    background-color: #669ec0;
}

.hotel a:nth-child(3):focus {
    font-weight: bold;
    color: #88b2ce;
    background-color: #5496bd;
}

.hotel a:nth-child(4) {
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
}

.hotel a:nth-child(4):hover {
    font-weight: bold;
    color: #ffffff;
    background-color: #604e43;
}

.hotel a:nth-child(4):focus {
    font-weight: bold;
    color: #908883;
    background-color: #503e33;
}

.rating {
    background-color: #f2f2f2;
}

.left a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.big-image {
background-image: url("../img/background-main.jpg");
background-repeat: no-repeat;
background-position: 50% -127px;
}

.big-image img {
display: block;
margin: 0 auto;
width: 458px;
height: 352px;
}

